<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>Firebase Web Quickstart</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,500" rel="stylesheet">
    <script src="https://www.gstatic.com/firebasejs/live/3.1/firebase.js"></script>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>

    <link rel="stylesheet" href="style.css">

  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Hello User! Welcome to Just PicIt!</a>
      </div>
    </nav>


    <div class = "image">
      <center>
        <img src = "http://bit.ly/2vSsVwZ" style = "height: 500px">
        <img src = "http://bit.ly/2uYZkU6" style = "height: 500px">
      </center>
  </div>

  <br><br>
    <div class="container">
      <input id ="txtEmail" type="email" placeholder="Email">
      <input id ="txtPassword" type="password" placeholder="Password">
      <a href = "profile.html">
      <button id ="btnLogin" class="btn btn-action">
        Log In
      </button>
    </a>
      <button id ="btnSignUp" class="btn btn-secondary">
        Sign Up
      </button>
      <button id="btnLogout" class=" btn btn-action hide">
        Log Out
      </button>
    </div>
    <script src="login.js"></script>
    <br><br>
  </body>
</html>
