body {

      background-repeat: no-repeat;
      height:100%;
      margin:0%;
      background-size: cover;

}

.dropdown-button {
      font-size: 20px;



}


.brand-logo {
      font-size:60px;
      margin-left: 5%;
}


.hide-on-med-and-down {
      font-size:30px;
}



.main {
    height: 100vh;
    background-color: blanchedalmond;
    margin-left: 20%;
    margin-right: 20%;

}

.intro {
   font-size: 20px;
   color: black;
   text-align: center;
}
