body {

    
      height:100%;
      margin:0%;
      background-size: cover;

}

.dropdown-button {
      font-size: 20px;



}


.brand-logo {
      font-size:60px;
      margin-left: 5%;
}


.hide-on-med-and-down {
      font-size:30px;
}



.main {
    height: 100vh;
    background-color: blanchedalmond;
    margin-left: 20%;
    margin-right: 20%;
    height: 2500px;

}

.intro {
   font-size: 30px;
   color: black;
   text-align: center;
   font-style: arial;
}





.specialhead {
  font-size: 20px;
  color: black;

  font-style: arial;
  margin-right: 2%;
  margin-left: 2%;
  font-weight: bold;
  margin-top: 2%;
}



.advice {
  font-size: 20px;
  color: black;
  font-weight: normal;

  font-style: arial;
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 2%;
}

.example {
  font-size: 20px;
  color: black;

  font-style: arial;
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 2%;

}
